<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{> styles}}
	<title>{{app}} - {{title}}</title>
</head>

<body>
	<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="Logo">
    {{app}}
  </a>
</nav>

	{{{body}}}
	{{> scripts}}
</body>

</html>