<div class='container__forgot'>
	<div class="top">
		<h1 class="h2">{{title}}</h1>
	</div>
	<div class='down'>
		<form action="" method="post" id="formPassword">
			<div class="card">
				<div class="card-body">
					<div class="form-group row">
						<label for="password" class="col-12 col-form-label">Nueva Contraseña</label>
						<input type="password" class="form-control" id="password" name="password">
					</div>{{!--Fin del input password  --}}

					<div class="form-group row">
						<label for="confirmPassword" class="col-12 col-form-label">Confirmar Contraseña</label>
						<input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
					</div>{{!--Fin del input confirmar  --}}

					<div class="form-group row">
						<input type="hidden" name="csrfToken" value="{{csrfToken}}">
						<button type="submit" class="btn btn-secondary btn-block" id="send">Cambiar</button>
					</div> {{!--Fin del boton  --}}
				</div>
			</div>
		{{!-- </form> --}}

	</div>
</div>
{{!-- {{base}}/recover-password/{{token}} --}}