* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	
}
body {
	height: 100vh;
}

.navbar {
	-webkit-box-shadow: 0px 13px 9px -9px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 0.75);
}

.navbar a,  .h1-basener{
	font-family: 'Righteous';
}


.container__forgot {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	margin: 2em 1.5em;
	padding-bottom: -2em;
	-webkit-box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 0.75);
}

.card-body {
	padding-bottom: 0;
}
.top {
	width: 100%;
	text-align: center;
	margin-top: 2em;
}

.down input,
.btn {
	margin: 0 10px !important;
}

.center {
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.container__error {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.container__error img {
	width: 100%;
}

.h1-basener {
	color: black !important;
	text-align: center;

}

.form-group {
	position: relative;
	margin-bottom: 1.5em;
}

#password-error,
#confirmPassword-error {
	position: absolute;
	top: 5.7em;
	font-size: small;
	color: #ab0401 !important;
	margin: 0 15px !important;
}

.e404,
.e403,
.e500 {
	padding-bottom: 1em;
}
